body {
    background-color: coral;
}

.wrap {
    margin: 0 auto;
    background-color: white;
    padding: 2.5% 10% 10% 10%;
    max-width: 50%;
}
.title{
    color: maroon;
}

#LabelEvent{
    color: forestgreen;
    font-weight: bold;
}
