@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Community Assist</h1>
    <p class="lead">
        Community Assist is a small charity which assists people in need with one time
        financial grants.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>